.modal-fon {
    align-items: center;
    background: rgba(34, 34, 34, .8);
    bottom: 0;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1040;
    -ms-overflow-style: none;

}

.modal-container {
    padding: 24px;
    max-height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
    border-radius: 32px;
    box-shadow: 0 2px 14px 0 hsla(0, 55%, 70%, .2);
    left: 50%;
    outline: none;
    padding: 32px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1040;
}

.modal-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 400px;
    margin: auto;
}

.modalBtn {
    margin-top: 20px;
    width: 100%;
    border-radius: 20px;
    border: 2px solid #bdbdbd;
    height: 40px;
    background-color: #fff;
}

.modalBtn:hover {
    background-color: #666464;
}

.modalInput-containet {
    margin-top: 20px;
    width: 100%;
    border-radius: 20px;
    border: 2px solid #bdbdbd;
    height: 40px;
    position: relative;
}

.modalInput-containet:hover {
    border: 2px solid #666464;
}

.modalBtn-container {
    display: flex;
    width: 100%;
}

.modal-input {
    transition: 0.2s all;
    left: 20px;
    width: 90%;
    position: absolute;
    top: calc(50% - 10px);
    outline: none;
    border: none;
}

.modal-span {
    transition: 0.2s all;
    left: 20px;
    top: calc(50% - 10px);
    display: flex;
    position: absolute;
    pointer-events: none;
    z-index: 1;
}